# .gitignore by J0sueTM
# for https://github.com/J0sueTM/sfml-pong repository

# blacklist all files
*

# whitelist directories
!*/

# blacklist bin/
*bin/

# whitelist media files
!*.wav
!*.ttf
!*.pdf

# whitelist cpp related files
!*.cpp
!*.h
!*.hpp

# whitelist shell files
!*.sh

# whitelist markdown files
!*.md
